@import './../../../style/abstract/variables';
@import './../../../style/abstract/mixins';

:host {
  width: 100%;
  margin-top: 30px;
  display: block;
  .login-container {
    margin: 0 auto;
    width: 767px;
    height: 567px;
    border-radius: 10px;
    background-color: $white;
    display: flex;
    @include boxShadow;
    &-head {
      flex: 0 0 363px;
    }

    &-body {
      padding: 0 15px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-title {
        margin-bottom: 10px;
        @include fontSize(25);
        font-weight: bold;
      }
      &-sub-title {
        margin-bottom: 25px;
        @include fontSize(15);
        font-weight: bold;
      }
    }
  }
}
