
  <article class="album-title" *ngIf="artist">

    <img [src]="artist.images[1].url" alt="">

    <div class="desc">

      <h1>{{ artist.name}}</h1>
      <h5>{{ artist.followers.total | countSize}}</h5>
    </div>

  </article>

  <article class="Tracks" *ngIf="albums">
      <div class="track"   *ngFor="let album of albums.items">
        <a routerLink="/album/{{album.id}}">
          <img class="track-img" [src]="album.images[1].url" alt="">
        </a>
        
        <p class="track-text">
          {{album.name}}
        </p>
      </div>
  </article>
