// Sizing
$base-font-size: 15px;
$base-size: 15;
// Colors
$white: #FFF;
$black: #000;

$primary-color: #8E44AD;
$secondary-color: rgba(142, 68, 173, 0.05);

$primary-font-color: #34495E;
$secondary-font-color: #7F8C8D;

$acent-color: #DEDEDE;

$error: #CC0000;
$warning: #FFC107;
$success: #28A745;
