<form [formGroup]="searchForm">
  <div class="row mt-2 mb-2">
    <div class="col">
      <input type="search" class="form-control" formControlName="term" />
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col">
      <app-selector-input-sources [control]="searchForm?.get('source')">
      </app-selector-input-sources>
    </div>
    <div class="col">
      <app-selector-input-countries [control]="searchForm?.get('country')">
      </app-selector-input-countries>
    </div>

    <div class="col"></div>
    <div class="col"></div>
  </div>
</form>
