<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">
                <svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1" viewBox="0 0 16 16" width="32">
                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-form">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" (keyup.enter)="searchEvent($event)">
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container" *ngIf='currentUserData'>

    <div class="jumbotron">
        <div class="media">
            <div class="media-left">
                <a [href]="currentUserData.html_url">
                    <img class="media-object" width="120" height="120" [src]="currentUserData.avatar_url" alt="currentUserData.name">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ currentUserData.name }}</h4>
                <span class="label label-default">{{currentUserData.public_repos}} public repos</span>
                <span class="label label-primary">{{currentUserData.public_gists}} public gists</span>
                <span class="label label-success">{{currentUserData.followers}} Followers</span>
                <span class="label label-info">{{currentUserData.following}} Following</span>

                <div class="list-group">
                    <span class="list-group-item"><strong>Bio</strong> {{ currentUserData.bio }}</span>
                    <span class="list-group-item"><strong>location</strong> {{ currentUserData.location}}</span>
                    <span class="list-group-item"><strong>Created at</strong> {{ currentUserData.created_at}}</span>
                    <span class="list-group-item"><strong>Updated at</strong> {{ currentUserData.updated_at}}</span>
                    <span class="list-group-item"><strong>Created at</strong> {{ currentUserData.created_at}}</span>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Repos</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div *ngFor="let repo of currentUserRepos">
                        <div class="row breadcrumb">
                            <div class="col-md-9">
                                <a [href]="repo.html_url" target="_blank">
                                    <h4> {{ repo.name }}</h4>
                                </a>
                                {{ repo.description }}
                            </div>
                            <div class="col-md-3 right">
                                <span class="label label-default">{{ repo.stargazers_count }} Stars </span>
                                <span class="label label-primary">{{ repo.forks_count }} Forks</span>
                                <span class="label label-success">{{ repo.watchers_count }} Watchers</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>